<link rel="import" href="~/polymer/polymer-element.html">

<link rel="import" href="~/paper-styles/typography.html">
<link rel="import" href="~/paper-styles/color.html">
<link rel="import" href="~/paper-card/paper-card.html">
<link rel="import" href="~/paper-button/paper-button.html">
<link rel="import" href="~/paper-icon-button/paper-icon-button.html">
<link rel="import" href="~/iron-icons/iron-icons.html">

<link rel="import" href="../components/caption-generator.html">
<link rel="import" href="../components/toggle-icons.html">
<link rel="import" href="../components/toggle-icon.html">

<dom-module id="image-caption-view">
  <template>
    <style>
      :host {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      paper-card {
        width: 100%;
      }

      .image-wrapper {
        width: 100%;
      }
      .image-wrapper > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      .caption-container {
        padding: 0 16px;
      }
      .caption-title {
        @apply --paper-font-headline; 
        text-align: center;
      }
      .caption-subtitle {
        @apply --paper-font-subhead;
        color: black;
        text-align: center;
        text-transform: capitalize;
        font-style: italic;
      }

      .space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .card-actions > * {
        @apply --paper-font-body2;
      }
      .light {
        color: var(--paper-grey-600);
      }
      .dark {
        color: var(--paper-grey-800);
      }
    </style>
    <caption-generator
      id="captionGenerater"
      image-url={{imageUrl}}></caption-generator>
    <paper-card elevation="3">
      <div class="image-wrapper" id="img-wrapper">
      </div>
      <div class="caption-container">
        <p class="caption-title" id="emojis">
          <template is="dom-repeat" items="{{keywords}}">
              <emoji-generator keyword={{item}}></emoji-generator>
          </template>
        </p>
        <p class="caption-subtitle">
          "{{caption}}"
        </p>
      </div>
      <div class="card-actions">
        <div class="horizontal space-between">
          <toggle-icons>
            <toggle-icon icon="thumb-up" on-tap="_thumbsUp"></toggle-icon>
            <toggle-icon icon="thumb-down" on-tap="_thumbsDown"></toggle-icon> 
          </toggle-icons>
          <paper-button class="dark" on-click="_regenerateCaption"><iron-icon icon="refresh"></iron-icon>Generate Again</paper-button>                  
        </div>                         
      </div>
    </paper-card>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ImageCaptionView extends Polymer.Element {
      static get is() { return 'image-caption-view'; }
      static get properties() {
        return {
          imageUrl: {
            type: String
          }
        };
      }

      connectedCallback() {
        super.connectedCallback()
      }

      _scaleAndPlaceImage = (image) => {
        const imgWidth = image.naturalWidth;
        const imgHeight = image.naturalHeight;

        const aspectRatio = imgHeight / (imgWidth / 100);
        this.$['img-wrapper'].style.paddingTop = `${aspectRatio}%`;

        this.$['img-wrapper'].innerHTML = "";
        this.$['img-wrapper'].append(image);
      }

      _regenerateCaption() {
        if (this.keywords === null) { return; }

        const emojiGenerators = this.shadowRoot.querySelectorAll('emoji-generator');
        for (let emojiGenerator of emojiGenerators) {
          emojiGenerator.generateEmoji();
        }
      }

      _loadImage() {
        return new Promise((resolve, reject) => {
          const img = new Image();
          img.onload = () => {
            this._scaleAndPlaceImage(img);
            resolve();
          }
          img.onerror = (err) => {
            reject(err);
          }
          img.src = this.imageUrl;
        });
      }

      _loadCaption() {
        return new Promise((resolve, reject) => {
          const captionGenerator = this.$['captionGenerater']
          captionGenerator.addEventListener('captionGenerated', (e) => {
            this.caption = e.detail.caption;
            this.keywords = e.detail.keywords;
            resolve();
          });
          captionGenerator.addEventListener('captionError', (err) => {
            reject(err);
          });
          captionGenerator.generateCaption();
        });
      }

      loadImageAndCaption() {
        Promise.all([this._loadImage(), this._loadCaption()]).then((values) => {
          this.dispatchEvent(new CustomEvent('imageLoaded', {}));
        }).catch((err) => {
          this.dispatchEvent(new CustomEvent('imageError', {}));
        })
      }

      _thumbsUp = () => {
        const emojis = this._getGeneratedEmojis();
      }

      _thumbsDown = () => {
        const emojis = this._getGeneratedEmojis();
      }

      _getGeneratedEmojis() {
        const emojiGenerators = this.$['emojis'].querySelectorAll('emoji-generator');
        const emojis = [];
        for (let emojiGenerator of emojiGenerators) {
          emojis.push(emojiGenerator.emoji);
        }
        return emojis.filter((emoji) => emoji != null);
      }
    }

    window.customElements.define(ImageCaptionView.is, ImageCaptionView);
  </script>
</dom-module>
