<link rel="import" href="~/polymer/polymer-element.html">

<link rel="import" href="./emoji-generator.html">

<dom-module id="emoji-caption-generator">
  <template>
    <!-- <CSS> -->
    <style>

    </style> <!-- </CSS> -->

    <!-- <HTML> -->
      {{caption}}

    <!-- </HTML> -->
  </template>

  <script>
    const queryString = require('query-string');
    const credentials = require('../../credentials.js');

    /**
     * @customElement
     * @polymer
     */
    class EmojiCaptionGenerator extends Polymer.Element {
      static get is() { return 'emoji-caption-generator'; }
      static get properties() {
        return {
          imageUrl: {
            type: String,
          }
        };
      }

      connectedCallback() {
        super.connectedCallback()
      }

      generateCaption() {
        this._processImage();
      }

      _processImage(imageURL) {
        const subscriptionKey = credentials.azure.subscriptionKey
        const uriBase = `https://${credentials.azure.region}.api.cognitive.microsoft.com/vision/v1.0/analyze`;

        const params = {
            "visualFeatures": "Categories,Description,Color",
            "details": "",
            "language": "en",
        };

        const headers = new Headers({
          "Content-Type": "application/json",
          "Ocp-Apim-Subscription-Key": subscriptionKey
        });

        const url = `${uriBase}?${queryString.stringify(params)}`;

        fetch(url, {
          headers: headers,
          method: 'POST',
          body: `{"url": "${this.imageUrl}"}`,
          // mode: 'no-cors'
        }).then((data) => {
          return data.json();
        }).then((response) => {
          this._captionGenerated(response);
        }).catch((err) => {
          this.dispatchEvent(new CustomEvent('captionError', {}));
        })
      }

      _captionGenerated(data) {
        const caption = data.description.captions[0].text;
        const keywords = caption.split(" ");

        console.log(keywords);

        this.dispatchEvent(new CustomEvent('captionGenerated', {
          detail: {
            caption,
            keywords
          }
        }));
      }
    }

    window.customElements.define(EmojiCaptionGenerator.is, EmojiCaptionGenerator);
  </script>
</dom-module>